.CandidateProfile {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #fefefe;
    border: 2px solid black;
    margin: 1rem;
    padding: 1rem;
    flex: 0 1 29%;
    min-width: 200px;
}

.CandidateProfile > * + * {
    margin-top: 0.6rem;
}

.avatarWrapper {
    padding: 1rem;
    flex: 1 0 20%;
}

.avatar {
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid black;
    background-color: #fefefe;
    width: 180px;
}

.avatar img {
    display: block;
    width: 100%;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1 1 60%;
}

.text > * + * {
    margin-top: 0.2rem;
}

.name {
    font-weight: bold;
}

.job,
.gender {
    font-size: 0.8rem;
}

.jobdesc {
    color: rgb(112, 112, 112);
}

.buttonLink {
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
}

.buttonLink button {
    border: none;
    background-color: black;
    color: #fefefe;
    cursor: pointer;
    padding: 0.4rem;
    font-weight: bold;
}

.buttonLink button:hover {
    background-color: rgb(31, 31, 31);
}
